body {
    background-color: #f2f2f2;
}

.text {
    text-align: center;
    font-family: "Georgia", Times, serif;
    font-size: 20px;
}

h2 {
    color: #660022;
    font-family: "Georgia", Times, serif;
    font-size:50px;
    font-weight: bold;
    letter-spacing: -6px;
    text-align: center;
}

.buttons {
    height: 155px;
    width: 225px;
    text-align: center;
    border-radius: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#playAgain {
    height: 40px;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #660022;
    font-size: 14px;
    color: white;
    font-family: "Arial", Times, serif;
}

img {
    height: 155px;
    width: 225px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.border {
    border-width: 8px;
    border-style: solid;
    border-color: #990033;
}